.container{
    width:15em;
    margin:0 0.2em;
    float:left;
    position: relative;
} 

.pic img{
    width:100%;
} 

.title{
    font-weight: bold;
    margin-bottom: 1em;
   
}
.channel,.views{
font-size: small;
color: #ccc;
margin-bottom: 0.2em;
}
.views span{
    padding:0 0.5em;
}
.Close{
    position : absolute;
    right:0;

}


.edit{
    position: absolute;   
    right:4em;
}